body {
  background-color: #aa0101;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  text-align: center;
}
h1 {
  color: #ffffff;
  font-size: 56px;
  margin-top: 20px;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.lucide-notebook-pen-icon {
  width: 64px;
  height: 64px;
  stroke: #ffffff;
  stroke-width: 1;
  display: inline-block;
  vertical-align: middle;
}


input {
  width: 400px;
  height: 30px;
  border: none;
  padding: 4px;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  outline: none;
  transform: skew(6deg, 0deg);
}


input:focus {
  box-shadow: 0 0 0 1px #ff0055;
}

.input-wrapper {
  transform: skew(-12deg, -1deg);
  background-color: #000000;
  padding: 2px 4px;
  border: 4px solid #000;
  display: inline-block;
}

.add-btn {
  position: relative;
  overflow: hidden;
  height: 50px;
  padding: 0 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: #000000;
  color: #ffffff;
  border: none;
  transform: skew(-12deg, -1deg) translateY(-3px);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.add-btn:hover {
  background-color: #171717;
}
.add-btn-text {
  transform: skew(12deg, 1deg);
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 20px auto;
  max-width: 600px;
}
#todo-list {
  position: relative;
  margin: 20px auto;
  max-width: 600px;
}

#todo-list li {
  list-style: none;
  padding: 8px;
  margin-top: 20px;
  min-height: 70px;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transform: skew(-8deg, -1deg);
  position: relative;
  box-shadow: 0 8px 16px rgb(92, 2, 2);
}

#todo-list li::before {
  content: "";
  position: absolute;
  top: -22px;
  left: 10px;
  width: 20px;
  height: 24px;
  border-left: 16px solid #000;
  border-bottom: 10px solid #000;
  z-index: 0;
}

#todo-list li:first-child::before {
  display: none;
}

#todo-list li:nth-child(odd)::before {
  transform: skew(-20deg, 0deg);
}

#todo-list li:nth-child(even)::before {
  transform: skew(20deg, 0deg);
}

.todo-inner {
  width: 100%;
  min-height: 45px;
  width: 500px;
  background-color: #fff;
  padding: 8px 12px;
  color: #000;
  font-size: 18px;
  text-align: left;
  transform: skew(6deg, 0deg);
  border: none;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 1;
  display: flex;
  align-items: center;
}

.todo-checkbox {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  transform: skew(4deg, -3deg);
  cursor: pointer;
}
.todo-checkbox:checked {
  accent-color: #aa0101;
}

.todo-checkbox:checked + .todo-inner {
  text-decoration: line-through;
  color: #555252;
  background-color: #bab5b5;
}

.delete-btn {
  background-color: #000000;
  color: #ff0202;
  font-size: 24px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  transform: skew(6deg, 0deg);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-1px);
  }
  40% {
    transform: translateX(1px);
  }
  60% {
    transform: translateX(-1px);
  }
  80% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(0);
  }
}
.delete-btn:hover {
  animation: shake 0.3s ease-in-out infinite;
}

.clear-btn {
  background-color: #000000;
  color: #ffffff;
  font-size: 16px;
  border: none;
  padding: 12px;
  cursor: pointer;
  transform: skew(-1deg, -1deg);
}
.clear-btn:disabled {
  background-color: #555252;
  cursor: not-allowed;
}
.clear-btn-text {
  transform: skew(-3deg, -1deg);
  font-weight: bold;
}
.clear-btn:hover {
  background-color: #171717;
}

